<footer class="page-footer font-smal fundin-gif pt-4">

    <div class="container">
        
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Redes Sociais</h4>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/thipedroso/" target="_blank" class="icoLinkedin">
                            <!-- Aqui não precisa do elemento <img>, o CSS cuidará da exibição -->
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ThiagaoCode2" target="_blank" class="icoGithub"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/thii.pedroso/" target="_blank" class="icoInstagram"></a>
                    </li>
                </ul>

            </div>
        </div>
        
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © Copyright 2024: </span>
        <!-- <a class="text-light" target="_blank" href="https://thiagopedrosofullstackdev.netlify.app/#">Thiago Pedroso Engenheiro de Software</a> -->
        <a class="text-light" target="_blank">Thiago Pedroso Engenheiro de Software</a>
    </div>

</footer>