<footer class="page-footer font-smal fundin-gif pt-4">

    <div class="container">
        
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Redes Sociais</h4>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.linkedin.com/in/thipedroso/" target="_blank" class="icoLinkedin">
                            <img class="tm-social" src="../../img/icones/linkedin.png" alt="logo linkedIn">
                            <!-- <i class="fa fa-linkedin-square" aria-hidden="true"></i>   -->
                        
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://github.com/ThiagaoCode2" target="_blank" class="icoGithub">
                            <img class="tm-social" src="../../img/icones/github-logo-icon-0.jpg" alt="logo github">
                           <!-- <i class="fa fa-github-square" aria-hidden="true"></i>   -->
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://www.instagram.com/thii.pedroso/" target="_blank" class="icoInstagram">
                            <img class="tm-social" src="../../img/icones/instagram.png" alt="logo instagram">
                           <!-- <i class="fa fa-instagram" aria-hidden="true"></i>   -->
                        
                        </a>
                    </li>

                </ul>

            </div>
        </div>
        
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> © Copyright 2024: </span>
        <!-- <a class="text-light" target="_blank" href="https://thiagopedrosofullstackdev.netlify.app/#">Thiago Pedroso Desenvolvedor Full Stack Java</a> -->
        <a class="text-light" target="_blank">Thiago Pedroso Desenvolvedor Full Stack Java</a>
    </div>

</footer>