#img-bg{
    background-image: url("https://imgur.com/d3Qia8W.jpg");

    min-height: 650px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.mxr-7{
    margin-right: 7px;
}

.css-selector {
    background: linear-gradient(214deg, #dfe373, #14661c, #5ebed2);
    background-size: 600% 600%;
 
    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
 }
 
 @-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
 }
 @-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
 }
 @keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
 }